.button-sound {
    margin: 0px;
    border-radius: 100%;
    top: 0.3rem;
    left: 0.3rem;
    position: absolute;
    height: 2rem;
    width: 2rem;
    min-width: 2rem;
    color: var(--infantil-2);
    border: 2px solid var(--infantil-2-tran);
}
.button-sound:hover {
    margin: 0px;
    border-radius: 100%;
    top: 0.3rem;
    left: 0.3rem;
    position: absolute;
    height: 2rem;
    width:2rem;
    min-width: 1rem;
    background-color: var(--infantil-1);
}


.icon-sound {
    font-size: 2rem;
    
}